extends layout

link(rel='stylesheet', href='/stylesheets/about.css')

block actives
  li
    a(href='/') Home
  |           
  li.active
    a(href='/about') About
  |          

block content 
  .container-narrow
    p
      | <br /> <br /> 
    h3.tag The who
    p.line
      | We're two engineers with way too much coffee lying around.   Coming from Walker 10, we both saw how much exchanges went unused, and we're here to help.  
    h3.tag The why
    p.line
      | We like eating on campus for less.  Don't you?
    h3.tag The when
    p.line
      | Coding is hard.  Also we want to make sure people will use this.  Sign up with your email and pass this around so we know people want it.  We'll make it happen. 
    h3.tag The how
    p.line
      | We know how to code, and we'll give you a prototype if you sign up.  We want to make sure it's perfect before letting it run free in the wild.   Honestly, it's slightly more complex than tossing in a bit of Objective-C, Javascript, and stirring the pot to hope for the best.  