extends layout

link(rel='stylesheet', href='/stylesheets/about.css')

block actives
  li
    a(href='/') Home
  |           
  li.active
    a(href='/about') About
  |          

block content 
  .container-narrow
    p
      | <br /> <br /> 
    h3.tag The who
    p.line
      | We're two engineers with way too much coffee lying around.   Through the ventures we've been a part of, we know how much time you can save with quick and easy emails.  That's why we're here to help.  
    h3.tag The why
    p.line
      | We hate emails that are too long and from spammy addresses.  Don't you?
    h3.tag The when
    p.line
      | Patience, young padawan.  We're making progress and making sure everything is secure.  Sign up with your email and pass this around so we know people want it.  We'll make it happen. 
    h3.tag The how
    p.line
      | We know how to code, and we'll give you a prototype if you sign up.  We want to make sure it's perfect before letting it run free in the wild.   Honestly, it's slightly more complex than tossing in a bit of Objective-C, Javascript, and stirring the pot to hope for the best.  