link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/about.css')
body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          |           
          li.active
            a(href='/about') About
          |           
        |         
        #title.hexagon-sm.hexagon-success.h2.muted Cha
      |       
      hr
      |       
      #banner.h2 By the students, for the students
      h2
      | We get it.  Letting exchanges go unused sucks.  That's why we made Cha so you can make money and get food for cheaper.  
      h3 The who
      p
      | We're two engineers with way too much time on our hands and way too much coffee lying around.  
      h3 The why
      p
      | We like eating on campus for less.  Don't you?
      h3 The when
      p
      | Coding is hard.  Also we want to make sure people will use this.  Sign up with your email and pass this around so we know people want it.  We'll make it happen. 
      .footer
        p Euclid and Euler