link(rel='stylesheet', href='/stylesheets/style.css')
body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          |           
          li
            a(href='/about') About
          |           
        |         
        #title.hexagon-sm.hexagon-success.h2.muted Cha
      |       
      hr
      |       
      .footer
        p Euclid and Euler