extends layout

link(rel='stylesheet', href='/stylesheets/about.css')

block actives
  li
    a(href='/') Home
  |           
  li.active
    a(href='/about') About
  |          

block content 
  .container-narrow
    #banner.h2 By the students, for the students
    h5
      | We get it.  Letting exchanges go unused sucks.  That's why we made Cha so you can make money and get food for cheaper.  
    h3.tag The who
    p.line
      | We're two engineers with way too much time on our hands and way too much coffee lying around.   Coming from Walker 10, we both saw how much exchanges went unused, and we're here to help.  
    h3.tag The why
    p.line
      | We like eating on campus for less.  Don't you?
    h3.tag The when
    p.line
      | Coding is hard.  Also we want to make sure people will use this.  Sign up with your email and pass this around so we know people want it.  We'll make it happen. 
    .footer
      p Euclid and Euler - two OU undergrads with way too much free time