link(rel='stylesheet', href='/stylesheets/style.css')
body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='/') Home
          |           
          li
            a(href='/about') About
          |           
        |         
        #title.hexagon-sm.hexagon-success.h2.muted Cha
      |       
      hr
      |       
      .jumbotron
        h1 Hungry?
        |         
        h3
          | Sell your unused exchanges or buy other exchanges for delivery.  <br /> Get your food quicker.   
        |         
        a.btn.btn-large.btn-success(href='/signup') Sign up today
      |       
      hr
      |       
      .row-fluid.marketing
        .span6
          .row-fluid
            .col-lg-2
              img.img-circle(src="/images/clock.png")
            .col-lg-10
              .tag Fast
              |           
              p.line
                | Order any food on campus, through the application, all using your debit/credit card.  No paper, no worries. 
              |           
          .row-fluid
            .col-lg-2
              img.img-circle(src="/images/money.png")
            .col-lg-10
              .tag Cheap
              |           
              p.line
                | Get exchanges for a few bucks less, get more food IN YOUR BELLY, get paid if you have extra exchanges lying around stinking up the place.  
              |       
          .row-fluid
            .col-lg-2  
              img.img-circle(src="/images/location.png")
            .col-lg-10 
              .tag Convenient
              |           
              p.line 
                | See where students have exchanges available, see how long it'll be until they get you your food, order exactly what you want and go meet to pick it up.  Only sell exchanges when you want to.    
              |       
      |       
      hr
      |       
      .footer
        p Euclid and Euler - two OU undergrads with way too much free time
    // /container

