link(rel='stylesheet', href='/stylesheets/style.css')
body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='/') Home
          |           
          li
            a(href='/about') About
          |           
        |         
        #title.hexagon-sm.hexagon-success.h2.muted Cha
      |       
      hr
      |       
      .jumbotron
        h1 Hungry?
        |         
        p.lead
          | Sell your unused exchanges.  Buy other exchanges for less.  Get your food quicker.   
        |         
        a.btn.btn-large.btn-success(href='/signup') Sign up today
      |       
      hr
      |       
      .row-fluid.marketing
        .span6
          h3 Fast
          |           
          p
            | Order any food on campus, through the application, all using your debit/credit card.  No paper, no worries. 
          |           
          h3 Cheap
          |           
          p
            | Get exchanges for a few bucks less, get more food IN YOUR BELLY, get paid if you have extra exchanges lying around stinking up the place.  
          |           
          h3 Convenient
          |           
          p See where students have exchanges available, see how long it'll be until they get you your food.  Only sell exchanges when you want to.  Boom.  
        |         
      |       
      hr
      |       
      .footer
        p Euclid and Euler
    // /container

