extends layout

block actives
  li.active
    a(href='/') Home
  |           
  li
    a(href='/about') About
  |          

block content
  .container-fluid
    .jumbotron.section
      h1 Tired of spam emails?
      |         
      h3
        | Create email-forwarding address, only accept emails under 141 characters.  <br /> It's that easy.
      a.btn.btn-large.btn-success(href='/signup') Sign up today
    .row-fluid
      .col-lg-2.col-lg-offset-1.buffered-col
        img.img-circle(src="/images/clock.png").action-icon
      .col-lg-8.buffered-col
        .tag Fast
        |           
        p.line
          | Set up your email today in no time at all.  Tell us what email you'd like messages forwarded to, make an address with us to filter. 
        |           
      .col-lg-2.col-lg-offset-1
        img.img-circle(src="/images/money.png").action-icon
      .col-lg-8
        .tag Cheap
        |           
        p.line
          | As in free.  No money, no bullshit. 
        |         
    .row-fluid
      .col-lg-12
        h3.inlineTitle
          | "Who exactly are you?"
    .row-fluid.profile-wrapper
      .col-lg-6.profile
        img.img-circle(src='/images/Shelby.png').profile-picture
        p.profile-header
          | Shelby
        p.profile-text
          | Computer Engineering <br /><br />First addicted to coding at age 0.1f.  <br /> <br />From Enid, OK. <br /> <br />Has a background in web/iOS development. <br /> <br />
      .col-lg-6.profile   
        img.img-circle(src='/images/Bryce.png').profile-picture
        p.profile-header
          | Bryce
        p.profile-text
          | Chemical Engineering <br /> <br />Last seen 1/10/15 in the basement of Sarkey's.  <br /><br /> From Chicago, IL. <br /> <br />Has a background in tech comm and business strategy. 
    .row-fluid
      .col-xl-12.lower
        .row-fluid
          .col-md-12
            p
              | <br />
        h1.centered
          a(href='mailto:gochaou@gmail.com') gochaou@gmail.com

          //I love Maggie White so much :) 
        .row-fluid
          .col-md-12
            p
              | <br />