extends layout
link(rel='stylesheet', href='/stylesheets/success.css')

block actives
  li
    a(href='/') Home
  |           
  li
    a(href='/about') About
  | 

block content
  .container-narrow
    p
      | <br />      
    h3.tag Welcome to the revolution.  <br /><br />Tell your friends.  <br /><br />Or not.  <br /><br />Your choice if you want them to go hungry.  